<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=manocertstorage;AccountKey=Ny5CVqnKqj50SoDimlLEQTQplVfQ1TuDaQ8/l1STRqWRjjcHGiqzHLmMCifSFiA9OxHaBS1zcO6/x/BaZTAeAA=="/>-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=manobranch;AccountKey=Cu9KlwoG9Xznxu/dtVdr2xP6DQfYKVG+XnfowgmxVwPuG9mtY5XL5zDihYD3hl18q5r1W5vlYb5mA6ZMmSl01w=="/>

  </appSettings>
</configuration>